@import url('https://fonts.googleapis.com/css?family=Cantarell:400,700');

.space {
	margin-top: 60px;
}
.hippo {
	text-align: center;
}
.hippo-title {
    font-size: 26px;
    margin-top: 10px;
    color: #fec031;
    letter-spacing: 10px;
    font-weight: 600;
    font-family: 'Cantarell', sans-serif;
}
.hippo-eg{
  font-size: 26px;
  margin-top: 10px;
  color: #fec031;
  letter-spacing: 10px;
  font-weight: 600;
  font-family: 'Cantarell', sans-serif;
}
.hippo img {
	padding: 20px;
}
.rows {
	margin-right: 0px;
	margin-left: 0px;
}
.login-box {
	border: 1px solid #e6e6e6;
	padding: 1.5em 1.5em;
	width: 400px;
	max-width: 100%;
	margin: 0 auto;
	overflow: auto; 
}
.forms {
	padding: 1.5em 1.5em;
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
	overflow: auto; 
}
.login-sup {
	color: #666;
	text-align: center;
}
.login-sup a {
	color: #666;
}
.login-sup a .fa-plus {
	color: #5db7e3;
}
.login-sup a .fa-key {
	color: #e08a8a;
}
.login-sup a .fa-sign-in {
	color: #5db7e3;
}
footer p {
	margin-top: 40px;
	text-align: center;
}
footer p .fa-heart {
	color: #e08a8a;
}
footer p a {
	color: #5db7e3;
	text-decoration: underline;
	font-weight: bold;
}
.navbar .fa-sign-out {
	color: #e08a8a;
}
.panel-box {
	border: 1px solid #e6e6e6;
	padding: 1.5em 1.5em;
	overflow: auto; 
}
.panel-heading {
	overflow: auto;
}
.panel-heading .author {
	float: right;
	margin-top:-20px;
}
.panel-box td img {
	margin-top: -2px;
}
.panel-box td a {
	color: #666;
	font-weight: bold;
}
.panel-box .panel-body img {
	width: 100%;
}
.panel-box .ticket-action {
	float: right;
	margin-top: -20px;
	margin-bottom: 20px;
}
.edit-panel {
	border: 1px solid #e6e6e6;
	padding: 1.5em 1.5em;
}
label{
	color: black;
}
#choice{
	margin-bottom: 1em;
}
.choose-level{
    font-size: 26px;
    margin-top: 15px;
    color: #fec031;
    letter-spacing: 5px;
    font-weight: 700;
    font-family: 'Cantarell', sans-serif;
}
#play{
	margin-top: 10px;
	width: 40%;
}
.submit-width{
	width: 40%;	
	display: block;
  margin-bottom: 10px;
  float: right;
}
.razmak{
    margin-bottom: 15px;
}
.anchor-overflow{
     display:block;
     overflow: auto;
     text-overflow: ellipsis;
 }
.res-text{
  margin-top: 10px;
  margin-bottom: 10px;
	text-align: center;
	font-size: 2em;
	color: #fec031;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: 'Cantarell', sans-serif;
}
.test-text{
  text-align: center;
  font-size: 2em;
  color: #fec031;
  font-weight: 700;
  font-family: 'Cantarell', sans-serif;
}
.reading-text{
  font-weight: bold;
  font-size: 1em;
  color: black;
  text-align: left;
}
.question-text{
  font-size: 1em;
  font-weight: bold;
  color: #585859;
}
.slika{
	position: center;
	width:100%
}

.fade-in {
    -webkit-animation-name: fadeInOpacity;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1s;
}

@-webkit-keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in-submit {
    -webkit-animation-name: fadeInOpacity;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 2s;

    margin-left: 30%;
}

@-webkit-keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.radio{
  color:#999;
  font-size:1em;
  position:relative;
}
.radio span{
  position:relative;
   padding-left:20px;
}
.radio span:after{
  content:'';
  width:15px;
  height:15px;
  border:3px solid;
  position:absolute;
  left:0;
  top:1px;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.radio input[type="radio"]{
   cursor: pointer; 
  position:absolute;
  width:100%;
  height:100%;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.radio input[type="radio"]:checked + span{
  color:#0B8;  
}
.radio input[type="radio"]:checked + span:before{
    content:'';
  width:5px;
  height:5px;
  position:absolute;
  background:#0B8;
  left:5px;
  top:6px;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
}

.center-hippo{
	margin-top: 5%;
}

.center-credits{
	margin-top: 15%;
} 

#hippo-div{
	opacity: 0;
}

#credits {
	opacity: 0;
}

.credits-title {
    font-size: 15px;
    margin-top: 10px;
    color: #fec031;
    letter-spacing: 3px;
    font-weight: 600;
    font-family: 'Cantarell', sans-serif;
}
.center-credits-text{
  margin-top: 70px;
}
.credits-image{
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
.part-name{
  font-weight: bold;
  color: black;
}
#answers{
  padding: 1em;
}
#list{
  margin: 3px;
}
.part-holder-div{
  padding: 1em;
  margin: 0.8em;
  border: 0.1px rgba(0,0,0,0.34);
  box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.12);
}
.container {
  padding: 0.3em;
}
#answers{
  padding: 1em;
  margin: 0.8em;
  border: 0.1px rgba(0,0,0,0.34);
  box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.12);
  font-family: 'Cantarell', sans-serif;
}
#answers h4{
  font-weight: 900;
  color: #fec031;
  font-family: 'Cantarell', sans-serif;
}
#list{
  font-weight: 500;
  font-family: 'Cantarell', sans-serif;
  padding-top: 0.5em;
  padding-left: 2em;
}
.font-hippo{
  font-weight: 500;
  font-family: 'Cantarell', sans-serif;
}